$breakpoints: (
  phone: '(max-width:400px)',
  big-phone: '(min-width: 400px) and (max-width:600px)',
  tablet: '(min-width: 600px) and (max-width:999px)',
  big-tablet: '(min-width: 999px) and (max-width:1300px)',
  desktop: '(min-width: 1300px) and (max-width: 1750px)',
  big-desktop: '(min-width: 1750px)'
) !default;

@mixin for-size($array...) {
  @each $value in $array {
    @if map-has-key($breakpoints, $value) {
      $point: #{map-get($breakpoints, $value)};

      @media #{inspect($point)} {
        @content;
      }
    }
  }
}
