:root {
  --bg: linear-gradient(to right, #141e30, #243b55);

  --front-end: #6bd1ff;

  --programming: #00c86f;

  --data-science: #9cd33b;

  --artificial-intelligence: #7b71ff;

  --devops: #f16165;

  --ux-design: #dc6ebe;

  --mobile: #ffba05;

  --innovation-management: #ff8c2a;
}
