:root {
  --bg: linear-gradient(to right, #141e30, #243b55);

  --color-purple: #9733ee;
  --color-orange: #fc4a1a;
  --color-empty: #3f4c6b;
  --color-CSS: #563d7c;
  --color-HTML: #e34c26;
  --color-Javascript: #f1e05a;
  --color-Typescript: #3178c6;
  --color-CSHARP: #178600;
  --color-Outros: #ededed;
  --color-Vue: #41b883;
}
